* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBarLink {
  margin: 0 10px;
  text-decoration: none;
  color: #113042;
  border-bottom: 2px solid #fff;
  padding: 5px 0 10px 0;
}

.NavBarLink_Active {
  margin: 0 10px;
  text-decoration: none;
  color: #113042;
  border-bottom: 2px solid #113042;
  padding: 5px 0 10px 0;
  /* padding: 5px 0; */
}

.NavbarAvatar {
  width: 30px !important;
  height: 30px !important;
  font-size: 0.9rem !important;
  border: 1px dashed #113042;
  background-color: #113042 !important;
  color: #fff !important;
}

.LogoutButtonStyling {
  width: 16px !important;
  height: 16px !important;
}

.DashboardLink {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #113042;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  background-color: #3790af;
  background-image: linear-gradient(62deg, #113042 0%, #3790af 100%);
  transition: all 0.5s;
}

.DashboardLink:nth-of-type(2) {
  background-image: linear-gradient(
    68.3deg,
    rgba(245, 177, 97, 1) 0.4%,
    rgba(236, 54, 110, 1) 100.2%
  );
}

.DashboardLink:nth-of-type(3) {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.DashboardLink:nth-of-type(4) {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.DashboardLink:hover {
  transform: scale(1.03);
  padding: 20px 20px 30px 30px;
}
